<div class="page-header">
  <h1>Links</h1>
</div>
<ul class="list-unstyled list-inline">
  <li>
    <%= linkTo(newLinksPath(), {class: "btn btn-primary"}) { %>
      Create New Link
    <% } %>
  </li>
</ul>

<table class="table table-striped">
  <thead>

    <th>Original Link</th>
    <th>Short Link</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (link) in links { %>
      <tr> 
              <td><%= link.Link %></td>
        <td><a href="<%= app.Host + "/" + link.Code %>" target="_blank"><%= app.Host + "/" + link.Code %></a></td>
        <td>
          <div class="pull-right">
            <%= linkTo(linkPath({ link_id: link.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editLinkPath({ link_id: link.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(linkPath({ link_id: link.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
